params.outdir = "output"
// Glob to find all input BAM files
params.bams = "test_data/*.bam"
// Minimum score in ML tag to be included in output. 125 is the fibertools
// default
params.ftMinMLScore = 125
// Do call extraction
params.extract_calls = false
// Overwrite existing output files?
// Output it placed in same directory as input. By default want to avoid output
// being recreated by multiple runs (say when new data is added) so 
// we use a manual filter to remove files which have all expected output
params.clobber = false

profiles {
    conda {
        conda.enabled = true
        process.conda = "/home/kam24goz/miniforge3/envs/pbbm"
    }
    nbi_slurm {
        conda.useMicromamba = true
        process {
            conda = "${projectDir}/env.yaml"
            executor = 'slurm'
            queue = 'ei-medium'
            memory = '2GB'
            cpus = 2
            withName: CHECK_KINETICS {
                queue = 'ei-short,nbi-short,qib-short'
                memory = "500M"
                cpus = 1
                executor = 'local'
            }
            withName: PREDICT_FIBERTOOLS {
                queue = 'ei-medium,nbi-medium,qib-medium'
                memory = '2GB'
                cpus = 10
            }
            withName: EXTRACT_CALLS {
                queue = 'ei-medium,nbi-medium,qib-medium'
                memory = '10GB'
                cpus = 3
            }
        }
    }
}